<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product manager</title>
</head>
<body>
    <p th:text="${message}"></p>
    <h1>Product list</h1>
    <form action="#" th:action="@{/product}" th:object="${productModel}" method="POST">
        <p><input type="text" th:field="*{name}" placeholder="Product name" />
        <p><input type="text" th:field="*{category}" placeholder="Category of product"/></p>
        <input type="submit" value="Save"/>
    </form>
    <a th:href="@{/product}">List all products</a>
</body>
</html>